@import '../../assets/baseStyle/constants';
.button {
    background: $button_color; 
    border: none;
    color:$button_color_text;
    cursor: pointer;
    font: 13px/13px, Arial, sans-serif;
    padding: 10px;
    min-width: 80px;
    box-shadow: 0 0 2px $shadow_color inset;
    -moz-box-shadow: 0 0 2px $shadow_color inset;
    -webkit-box-shadow: 0 0 2px $shadow_color inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    float: left
}

.button:hover {
    opacity: .8;
}

