@import '../../assets/baseStyle/_constants.scss';

.searchform {
    display: flex;
    justify-content: center;   
    margin: 0 auto;
    background: rgba(244, 244, 244, .79);
    border: 1px solid #d3d3d3;
    padding: 2px 5px;   
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}


.searchform input {
    background: #fefefe;
    border: none;
    margin-right: 5px;
    padding: 1rem;
    flex-grow: 1;
       
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform input:focus {
    @extend %focusElm;
}

.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}